$h1-font-size:                (2.5rem - .25);
$h2-font-size:                (2rem - .25);
$h3-font-size:                (1.75rem - .25);
$h4-font-size:                (1.5rem - .25);
$h5-font-size:                (1.25rem - .25);
$h6-font-size:                (1rem - .25);

$display1-size:               (6rem - 1);
$display2-size:               (5.5rem - 1);
$display3-size:               (4.5rem - 1);
$display4-size:               (3.5rem - 1);

$grid-gutter-width: 50px;

@import '../node_modules/bootstrap/scss/bootstrap.scss';

html {
  font-size: calc(16px + .25vw);
  line-height: calc(1.5em + .2vw);
}
@include media-breakpoint-up(md) {
  html {
    font-size: calc(17px + .25vw);
  }
}

h1, .h1 { font-weight: 700; }
h3, .h3 { font-weight: 400; }

a {
  text-decoration: underline;
  text-decoration-skip: ink;
}
.navbar a {
  text-decoration: none;
}
.color-inherit {
  color: inherit;
}
a.color-inherit {
  text-decoration-color: $link-color;
}

.container {
  max-width: 750px;
}
@include media-breakpoint-up(sm) {
  .container {
    width: 92vw;
  }
}
@include media-breakpoint-up(md) {
  .container {
    max-width: 1440px;
  }
}

.navbar-nav {
  margin-right: auto;
}
@include media-breakpoint-down(md) {
  .navbar > .container, .navbar > .container-fluid {
    display: block;
  }
  .navbar-nav {
    flex-direction: row;
  }
  .navbar-nav .nav-link {
      padding-left: ($navbar-padding-x / 2);
      padding-right: ($navbar-padding-x / 2);
  }
  .navbar-expand-md .navbar-nav .nav-item:first-child .nav-link {
    padding-left: 0;
  }
}

main {
  margin-top: 2em;
}
@include media-breakpoint-up(md) {
  main {
    margin-top: 3em;
  }
}

.article__title__container {
}
@include media-breakpoint-up(lg) {
  .article__title__container {
    margin-bottom: 2em;
  }
}

.article-grid {
  margin-top: 2em;
}
.article-grid__article {
  margin-bottom: 1em;
}
@include media-breakpoint-up(lg) {
  .article-grid__article {
    margin-bottom: 2em;
  }
}

.table-of-contents {
  > nav > ul {
    list-style-type: none;
    padding-left: 0;

    > li > ul {
      list-style-type: upper-roman;

      ul {
        list-style-type: lower-roman;
      }
    }
  }
}

.sidebar {
  > * {
    margin-bottom: 1em;
  }
}
@include media-breakpoint-up(lg) {
  .sidebar {
    > * {
      margin-bottom: 2em;
    }
  }
}

footer {
  margin-top: 4em;

  background-color: $gray-200;

  padding-top: 2em;
  padding-bottom: 2em;
}
