@import '../node_modules/bootstrap/scss/bootstrap.scss';

a {
  text-decoration: underline;
}
.navbar a {
  text-decoration: none;
}
a.btn {
  text-decoration: none;
}

.table-of-contents {
  > nav > ul {
    list-style-type: none;
    padding-left: 0;

    > li > ul {
      list-style-type: upper-roman;

      ul {
        list-style-type: lower-roman;
      }
    }
  }
}

.breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 0;
}

footer {
  background-color: $gray-200;
}

@import 'vendor/google';
