$paragraph-margin-bottom: 1.25em;
$grid-gutter-width: 50px;

@import '../node_modules/bootstrap/scss/bootstrap.scss';

body {
  font-size: calc(16px + .25vw);
  line-height: calc(1.35em + .2vw);
}
@include media-breakpoint-up(md) {
  body {
    font-size: calc(18px + .25vw);
  }
}

h1, .h1 { font-weight: 700; }
h2, .h2 { font-weight: 600; }
h3, .h3 { font-weight: 400; }
@include media-breakpoint-down(sm) {
  .display-3 {
    font-size: 3rem;
  }
  .display-4 {
    font-size: 2rem;
  }
}
p + h2, p + .h2 {
  margin-top: map-get($spacers, 4);
}
p + h3, p + .h3 {
  margin-top: map-get($spacers, 4);
}

a {
  text-decoration: underline;
  text-decoration-skip: ink;
}
.navbar a {
  text-decoration: none;
}
.color-inherit {
  color: inherit;
}
a.color-inherit {
  text-decoration-color: $link-color;
}

.container {
  max-width: 750px;
}
@include media-breakpoint-up(sm) {
  .container {
    width: 92vw;
  }
}
@include media-breakpoint-up(md) {
  .container {
    max-width: 1440px;
  }
}

.nav-item {
  font-size: 1.25rem;
}
.navbar-expand-md .navbar-nav .nav-item:first-child .nav-link {
  padding-left: 0;
}

.article__title__container {
}
@include media-breakpoint-up(lg) {
  .article__title__container {
    margin-bottom: map-get($spacers, 4);
  }
}

.article-grid {
  margin-top: map-get($spacers, 4);
}
.article-grid__article {
  margin-bottom: map-get($spacers, 2);
}
@include media-breakpoint-up(lg) {
  .article-grid__article {
    margin-bottom: map-get($spacers, 4);
  }
}

.table-of-contents {
  > nav > ul {
    list-style-type: none;
    padding-left: 0;

    > li > ul {
      list-style-type: upper-roman;

      ul {
        list-style-type: lower-roman;
      }
    }
  }
}

.sidebar {
  > * {
    margin-bottom: map-get($spacers, 2);
  }
}
@include media-breakpoint-up(lg) {
  .sidebar {
    > * {
      margin-bottom: map-get($spacers, 4);
    }
  }
}

footer {
  background-color: $gray-200;
}
