<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Article",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ .Permalink }}"
  },
  "headline": "{{ .Title }}",
  "author": {
  {{ partial "structured-data/organization.html" . }}
  },
  "publisher": {
  {{ partial "structured-data/organization-logo-object.html" . }}
  },
  "description": "{{ trim (.Summary | plainify) "\n" }}",
  {{ if .Params.image }}
  "image": [
    "{{ "/" | absURL }}img/half/{{ .Params.image }}",
    "{{ "/" | absURL }}img/full/{{ .Params.image }}"
  ],
  {{ end }}
  "datePublished": "{{ .PublishDate | dateFormat "2006-01-02T15:04:05" }}",
  "dateModified": "{{ .Lastmod | dateFormat "2006-01-02T15:04:05" }}"
}
</script>
