{{ define "breadcrumbs" }}
  {{ partial "breadcrumbs-list.html" . }}
{{ end }}
{{ define "main" }}
  {{ .Content }}

  {{ if gt (len .Sections) 0 }}
  {{ $paginator := (.Paginate (where .Site.RegularPages.ByDate "Section" "blog").Reverse) }}

  <div class="article-grid row">
    {{ range $paginator.Pages }}
      {{ partial "article-grid-item.html" . }}
    {{ end }}
  </div>

  {{ partial "pagination.html" . }}

  {{ else }}
    <div class="article-grid row">
      {{ range .Pages.Reverse }}
        {{ partial "article-grid-item.html" . }}
      {{ end }}
    </div>
  {{ end }}
{{ end }}
