{{ define "head" }}
{{ partial "structured-data/og-post.html" . }}
{{ partial "structured-data/schema-article-post.html" . }}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "item": {
        "@id": "{{ "/blog/" | absURL }}",
        "name": "Blog"
      }
    }
    {{ if isset .Params "series" }}
      ,
      {
      "@type": "ListItem",
      "position": 2,
      "item": {
        {{ with .Site.GetPage "section" "blog" .Params.series }}
          "@id": "{{ .Permalink }}",
          "name": "{{ .Title }}"
        {{ end }}
        }
      }
    {{ end }}
  ]
}
</script>
{{ end }}
{{ define "breadcrumbs" }}
  <nav class="page-title__breadcrumbs" aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb small">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item"><a href="/blog/">Blog</a></li>
      {{ if isset .Params "series" }}
        {{ with .Site.GetPage "section" "blog" .Params.series }}
          <li class="breadcrumb-item"><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ end }}
      {{ end }}
    </ol>
  </nav>
{{ end }}
{{ define "wrapper-main-start" }}
  <article class="article container">
{{ end }}
{{ define "wrapper-main-end" }}
  </article>
{{ end }}
{{ define "main" }}
  <div class="row">
    <div class="col-lg-7">
      <section class="article__content">
        {{ partial "featured-image-post.html" . }}
        {{ .Content }}
      </section>

      {{ partial "next-in-series.html" . }}
    </div>
    {{ partial "sidebar-post.html" . }}
  </div>
{{ end }}
