{{ define "above-main" }}
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">One Shot RPG</h1>
      <h2 class="display-4">Single session tabletop roleplaying game adventures</h2>
      <p>One Shot RPG is a line of short, accessible role playing game supplements in a sci-fi and horror setting. Players go on an adventure that's playable from start to finish in one night while selecting from a group of premade characters.</p>
    </div>
  </div>
{{ end }}

{{ define "main" }}
  <div class="container">
    <div>
      <h3>Creating the Cast of Characters</h3>
      <p>Read about the decisions and planning that go into creating a cast of sci-fi and horror RPG characters.</p>
      <div class="article-grid row">
        {{ range first 4 (where .Site.Pages "Params.series" "creating-the-characters").Reverse }}
          {{ partial "article-grid-item.html" . }}
        {{ end }}
      </div>
      <p class="text-center">
        <a href="/blog/creating-the-characters/">
          <span class="h5">Read all the articles about creating characters.</span>
        </a>
      </p>
    </div>

    <div class="mt-5">
      <h3>Creating the Setting</h3>
      <p>Want to know the behind the scenes details on how sci-fi and horror game setting was created?</p>
      <div class="article-grid row">
        {{ range first 4 (where .Site.Pages "Params.series" "creating-the-setting").Reverse }}
          {{ partial "article-grid-item.html" . }}
        {{ end }}
      </div>
      <p class="text-center">
        <a href="/blog/creating-the-setting/">
          <span class="h5">Read the full process of developing a role playing game setting.</span>
        </a>
      </p>
    </div>
  </div>
{{ end }}
