{{ define "head" }}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "sameAs": [
    "https://github.com/oneshotrpg"
  ],
  {{ partial "structured-data/organization.html" . }}
}
</script>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "url": "{{ "/" | absURL }}",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "{{ "/search/" | absURL }}?q={search_term_string}",
    "query-input": "required name=search_term_string"
  }
}
</script>
{{ end }}

{{ define "above-main" }}
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-4">One Shot RPG</h1>
      <h2 class="h2">Short Sci-Fi and Horror RPG Adventures</h2>
      <p class="lead">One Shot RPG is a line of short role playing game adventures set in a sci-fi and horror setting. Players choose from premade characters to confront the monster of the week. Each adventure is playable from start to finish in a single game night. The setting, characters, and first adventure are currently in development.</p>
    </div>
  </div>
{{ end }}

{{ define "main" }}

  <div>
    <h2>How to Create Premade RPG Characters</h2>
    <p>Read about the decisions and planning that go into creating a cast of premade sci-fi and horror RPG characters.</p>
    <div class="article-grid row mt-4">
      {{ range first 4 (index .Site.Taxonomies.series "creating-the-characters").Pages.Reverse }}
        {{ partial "article-grid-item.html" . }}
      {{ end }}
    </div>
    <p class="text-center mt-2">
      <a href="/blog/creating-the-characters/" class="btn btn-primary">Read about creating premade RPG characters</a>
    </p>
  </div>

  <div class="mt-5">
    <h2>How to Create a Sci-Fi and Horror Setting</h2>
    <p>Want to know the behind the scenes details on how sci-fi and horror game setting was created?</p>
    <div class="article-grid row mt-4">
      {{ range first 4 (index .Site.Taxonomies.series "creating-the-setting").Pages.Reverse }}
        {{ partial "article-grid-item.html" . }}
      {{ end }}
    </div>
    <p class="text-center mt-2">
      <a href="/blog/creating-the-setting/" class="btn btn-primary">Read how to develop an RPG setting</a>
    </p>
  </div>
{{ end }}
